<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobShardingInfoDao">

    <insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobShardingInfo">
        INSERT INTO xxl_job_sharding_info (
                id,
                parent_job_id,
                params,
                trigger_time
                ) VALUES (
                                 #{id},
                                 #{parentJobId},
                                 #{params},
                                 #{triggerTime}
                                 );
    </insert>

    <insert id="bathSave" parameterType="java.util.List">
        INSERT INTO xxl_job_sharding_info (id, parent_job_id, params,trigger_time,execute_batch,execute_state,execute_number,is_automatic)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.parentJobId}, #{item.params}, #{item.triggerTime},#{item.executeBatch},#{item.executeState},#{item.executeNumber},#{item.isAutomatic})
        </foreach>
    </insert>

    <delete id="logicDeleteByParentId">
        UPDATE xxl_job_sharding_info
        SET  delete_flag= 1
        WHERE parent_job_id = #{id} and is_automatic = #{isAutomatic};
    </delete>

<!--    <select id="findListByParentJobId" resultType="com.xxl.job.admin.core.model.XxlJobShardingInfo">-->
<!--        select xjsi.id,xjsi.params from xxl_job_sharding_info xjsi-->
<!--        left join xxl_job_info t on xjsi.parent_job_id = t.id-->
<!--        where xjsi.delete_flag = 0 and t.is_automatic =#{isAutomatic}-->
<!--    </select>-->

    <select id="findMaxExecuteBatch" resultType="int">
        SELECT IFNULL(MAX(execute_batch), 0) FROM xxl_job_sharding_info where delete_flag = 0 and parent_job_id = #{parentJobId}
    </select>

    <update id="updateExecuteInfo">
        update xxl_job_sharding_info set execute_state =#{state}, execute_number = execute_number + 1 where id = #{id}
    </update>

    <select id="findLastExecuteBatchByParentJobId" resultType="com.xxl.job.admin.core.model.XxlJobShardingInfo">
        select * from xxl_job_sharding_info where parent_job_id = #{id} and is_automatic = #{isAutomatic};
    </select>

    <select id="findTriggerringSharding" resultType="com.xxl.job.admin.core.model.XxlJobShardingInfo">
        select * from xxl_job_sharding_info where parent_job_id = #{id} and execute_state = 4 and delete_flag = 0
    </select>

    <!--    <update id="updateTriggerInfo">-->
<!--        update xxl_job_sharding_info set execute_state =#{state} ,  execute_number = execute_number + 1 where id = #{id}-->
<!--    </update>-->
</mapper>
